---
import { SocialLink } from '../types/common';
import AboutIcon from '../assets/about.svg';
import ContactIcon from '../assets/contact.svg';
import HomeIcon from '../assets/home.svg';

export interface Props {
  logoSrc: string;
  socialData: SocialLink[];
}

const { logoSrc, socialData } = Astro.props;

const NavLinksData = [
  {
    id: 'home',
    title: 'HOME',
    icon: HomeIcon,
    href: '/',
  },
  {
    id: 'about',
    title: 'ABOUT US',
    icon: AboutIcon,
    href: '/about',
  },
  {
    id: 'contact',
    title: 'CONTACT',
    icon: ContactIcon,
    href: '/contact',
  },
];
---

<header
  class="fixed top-0 z-50 flex h-full max-h-[70px] w-full justify-center bg-black/50 px-5 backdrop-blur-md sm:max-h-[80px]"
>
  <nav class="flex h-full w-full max-w-screen-2xl items-center justify-between">
    <!-- Logo section -->
    <a href="/" target="_self">
      <img src={logoSrc} alt="PEAK2PEAK" class="h-[22px] sm:h-[28px]" />
    </a>

    <div class="flex items-center gap-5">
      <!-- Nav links section -->
      <div class="hidden items-center gap-5 md:flex lg:gap-6 xl:gap-10">
        {
          NavLinksData.map(({ title, href, icon }) => {
            return (
              <a href={href} class="flex items-center gap-2 text-base font-thin text-white">
                <img src={icon.src} class="h-5 w-5" />
                <span class="font-thin text-white">{title}</span>
              </a>
            );
          }) || null
        }
      </div>

      <span class="hidden text-lg font-thin text-white text-opacity-50 lg:block"> &#124; </span>

      <!-- Social links section -->
      <div class="hidden items-center gap-5 lg:flex">
        {
          socialData?.map(({ Name, Url, Icon }) => {
            return (
              <a href={Url || ''} target="_blank" rel="noopener noreferrer" class="h-8 w-8">
                <img src={Icon?.url} alt={Name} class="h-full w-full" />
              </a>
            );
          }) || null
        }
      </div>
    </div>
  </nav>
</header>
