---
import HeaderLink from './HeaderLink.astro';

import logo from '../assets/logo.svg';
import pinterestLogo from '../assets/pinterest.svg';
import instagramLogo from '../assets/instagram.svg';
import dribbbleLogo from '../assets/dribbble.svg';
import twitterLogo from '../assets/twitter.svg';
import facebookLogo from '../assets/facebook.svg';
---

<header
  class="fixed top-0 z-50 flex h-full max-h-[70px] w-full justify-center bg-black/50 px-5 backdrop-blur-md sm:max-h-[80px]"
>
  <nav class="flex h-full w-full max-w-screen-2xl items-center justify-between">
    <img src={logo.src} alt="PEAK2PEAK" class="h-[22px] sm:h-[28px]" />
    <div class="flex items-center gap-5">
      <!-- Nav links section begin -->
      <div class="hidden items-center gap-5 md:flex lg:gap-6 xl:gap-10">
        <HeaderLink
          href="/"
          icon={`<svg id="Group_69" data-name="Group 69" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21.033" height="21.16" viewBox="0 0 21.033 21.16">
          <defs>
            <clipPath id="clip-path">
              <rect id="Rectangle_29" data-name="Rectangle 29" width="21.033" height="21.16" fill="#fff"/>
            </clipPath>
          </defs>
          <g id="Group_69-2" data-name="Group 69" clip-path="url(#clip-path)">
            <path id="Path_102" data-name="Path 102" d="M10.15.019a3.727,3.727,0,0,1,2.465.605L19.9,6.375a3.856,3.856,0,0,1,1.133,2.311l-.008,9.293a3.724,3.724,0,0,1-3.264,3.181l-14.464,0A3.722,3.722,0,0,1,.073,17.888c.18-2.988-.233-6.246,0-9.2A3.838,3.838,0,0,1,1.233,6.352L8.492.624A3.79,3.79,0,0,1,10.15.019m.2,1.034a2.939,2.939,0,0,0-1.608.7C6.4,3.45,4.2,5.465,1.871,7.187a2.876,2.876,0,0,0-.765,1.7c.172,2.861-.222,5.978,0,8.809a2.684,2.684,0,0,0,2.388,2.433l14.07,0a2.684,2.684,0,0,0,2.427-2.344c-.159-2.889.232-6.042.008-8.9a2.9,2.9,0,0,0-.764-1.7L11.976,1.46a2.821,2.821,0,0,0-1.629-.407" transform="translate(0 0)" fill="#fff"/>
            <path id="Path_103" data-name="Path 103" d="M150.766,333.465l5.252-.012a.542.542,0,1,1,0,1.083c-1.6.179-3.528-.134-5.166,0a.537.537,0,0,1-.086-1.071" transform="translate(-142.882 -317.017)" fill="#fff"/>
          </g>
        </svg>`}
        >
          HOME
        </HeaderLink>
        <HeaderLink
          href="/about"
          icon={`<svg id="Group_60" data-name="Group 60" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22.413" height="22.38" viewBox="0 0 22.413 22.38">
          <defs>
            <clipPath id="clip-path">
              <rect id="Rectangle_23" data-name="Rectangle 23" width="22.413" height="22.38" fill="#fff"/>
            </clipPath>
          </defs>
          <g id="Group_60-2" data-name="Group 60" clip-path="url(#clip-path)">
            <path id="Path_15" data-name="Path 15" d="M5.689,120.076a5.1,5.1,0,0,0-.014,1.618l-.084.141A11.162,11.162,0,0,1,.879,107.817c.278-.665.739-2.031,1.687-1.543.869.447.041,1.47-.207,2.046a9.708,9.708,0,0,0,3.33,11.757" transform="translate(0 -100.974)" fill="#fff"/>
            <path id="Path_16" data-name="Path 16" d="M386.4,82.587c-.191.146-.2-.142-.2-.307a7.584,7.584,0,0,1,.106-1.94,9.766,9.766,0,0,0,0-11.333,7.387,7.387,0,0,1-.11-1.871q-.025-.441.208-.376a11.161,11.161,0,0,1,0,15.827" transform="translate(-367.281 -63.485)" fill="#fff"/>
            <path id="Path_17" data-name="Path 17" d="M113.022,390.219a9.754,9.754,0,0,0,7.523,1.514c0,.139-.025.341-.184.379a4.4,4.4,0,0,0,0,.92c.133,0,.309.128.229.264a10.889,10.889,0,0,1-7.669-1.319,8.392,8.392,0,0,1-.049-1.539c.008-.087.013-.249.147-.219" transform="translate(-107.333 -371.117)" fill="#fff"/>
            <path id="Path_18" data-name="Path 18" d="M212.427,191.5a.794.794,0,0,1,.992.744c.178,2.019-.134,4.3-.006,6.348a.784.784,0,0,1-1.561-.043c-.189-2.009.145-4.312,0-6.352a.837.837,0,0,1,.573-.7" transform="translate(-201.426 -182.108)" fill="#fff"/>
            <path id="Path_19" data-name="Path 19" d="M269.951,346.625a10.73,10.73,0,0,1-5.862,3.078l-.2-.2-.1.146a3.335,3.335,0,0,1,0-1.244c.017-.014.087.024.092.018.038-.048.009-.245.152-.287a9.9,9.9,0,0,0,5.813-3.761c.036.663-.047,1.372,0,2.03.006.091-.012.183.1.217" transform="translate(-250.829 -327.522)" fill="#fff"/>
            <path id="Path_20" data-name="Path 20" d="M300.568,13.764a.248.248,0,0,0-.1.219c-.06.644.047,1.375,0,2.028a10.1,10.1,0,0,0-4.445-3.371l-.1-.074.045-1.47.1-.068a10.677,10.677,0,0,1,4.494,2.736" transform="translate(-281.446 -10.488)" fill="#fff"/>
            <path id="Path_21" data-name="Path 21" d="M111.488,1.048l.083.118a4.794,4.794,0,0,0-.013,1.308c.061-.015.091.028.125.088a10.372,10.372,0,0,0-2.686.66,16.133,16.133,0,0,1-1.494.7.787.787,0,0,1-.876-1.071c.143-.363.857-.675,1.212-.84a10.861,10.861,0,0,1,3.648-.968" transform="translate(-101.354 -0.997)" fill="#fff"/>
            <path id="Path_22" data-name="Path 22" d="M210.261.539l-.049,1.612a10.506,10.506,0,0,0-4.25-.586c-.18.022-.216.008-.239-.175a5.808,5.808,0,0,1,.044-1.34,10.835,10.835,0,0,1,4.494.488" transform="translate(-195.632 0)" fill="#fff"/>
            <path id="Path_23" data-name="Path 23" d="M209.047,122a1.047,1.047,0,0,1,.083,2.092,1.047,1.047,0,0,1-.083-2.092" transform="translate(-197.896 -116.025)" fill="#fff"/>
          </g>
        </svg>`}
        >
          ABOUT US
        </HeaderLink>
        <HeaderLink
          href="/"
          icon={`<svg id="Component_20_1" data-name="Component 20 – 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22.855" height="21.043" viewBox="0 0 22.855 21.043">
          <defs>
            <clipPath id="clip-path">
              <rect id="Rectangle_25" data-name="Rectangle 25" width="22.855" height="21.043" fill="#fff"/>
            </clipPath>
          </defs>
          <g id="Group_62" data-name="Group 62" clip-path="url(#clip-path)">
            <path id="Path_46" data-name="Path 46" d="M161.222,17.753l-.125-.421q-.032-1.867.006-3.731-.53-.484-1.052-1.012.028,2.335-.047,4.65l-.1.166c.159.14.154.275-.07.278l-.139-.048,0-8.121a2.45,2.45,0,0,0-.907-1.7q-3.093-2.464-6.374-4.7A11.917,11.917,0,0,0,150.3,1.609a.77.77,0,0,1-.555-.137,8.42,8.42,0,0,0-.855-.985l.02-.2a2.513,2.513,0,0,1,2.6.152c2.56,2.14,5.719,3.947,8.22,6.112a4.172,4.172,0,0,1,1.567,3.234c.148,2.389.027,5.161,0,7.584,0,.118.044.309-.071.382" transform="translate(-138.508 0)" fill="#fff"/>
            <path id="Path_47" data-name="Path 47" d="M94.632,279.545a5.671,5.671,0,0,1,1.248,1.221l-.066.171c-1.738,0-3.48.007-5.218,0l-.2-.074q-.546-.557-1.052-1.147l.066-.171a21.941,21.941,0,0,1,5.218,0" transform="translate(-83.12 -259.913)" fill="#fff"/>
            <path id="Path_48" data-name="Path 48" d="M170.013,279.577a5.676,5.676,0,0,1,1.248,1.221l-.066.171c-1.622.017-3.248,0-4.87,0-.263-.546-.924-.846-1.183-1.392a19.418,19.418,0,0,1,4.87,0" transform="translate(-153.631 -259.945)" fill="#fff"/>
            <path id="Path_49" data-name="Path 49" d="M306.573,182.8c.115-1.587-.085-3.3,0-4.906-.016-.244.265,0,.349.07.365.289.6.725.974.99-.05,1.392.062,2.806,0,4.195a2.539,2.539,0,0,1-.139.835l-1.151-1Z" transform="translate(-285.182 -165.396)" fill="#fff"/>
            <path id="Path_50" data-name="Path 50" d="M3.09,232.89a.872.872,0,0,1,.07.348l.153.085a2.267,2.267,0,0,0,.457,1.14l-.054.167a9.186,9.186,0,0,1,1.69,1.719l-.02.229c-2.024-.074-3.517-1.14-3.618-3.27a5.675,5.675,0,0,1,0-1.531l.165-.071A5.133,5.133,0,0,1,3.09,232.89" transform="translate(-1.597 -215.554)" fill="#fff"/>
            <path id="Path_51" data-name="Path 51" d="M34.58,272.809c.263.546.925.846,1.183,1.391-1.223-.005-2.468.044-3.687,0-.442-.748-1.176-1.241-1.67-1.948l.123-.1a3.268,3.268,0,0,0,2.169.551l1.759-.029Z" transform="translate(-28.286 -253.176)" fill="#fff"/>
            <path id="Path_52" data-name="Path 52" d="M1.494,135.493c-.046.167-.143.122-.257.025L.3,134.6a17.737,17.737,0,0,1-.131,3.464c.005.507-.024,1.025,0,1.531-.115-.072-.069-.264-.071-.382a63.712,63.712,0,0,1,.071-8.176l.173-.066a4.591,4.591,0,0,1,1.179,1.28c.033,1.077.016,2.164-.029,3.239" transform="translate(-0.001 -121.845)" fill="#fff"/>
            <path id="Path_53" data-name="Path 53" d="M238.485,279.132c.4-.055.928.545,1.11.883l-.066.161c-1.16.6-2.072.4-3.34.417-.263-.546-.924-.846-1.183-1.392l.119-.139a20.165,20.165,0,0,0,3.228-.042Z" transform="translate(-218.624 -259.569)" fill="#fff"/>
            <path id="Path_54" data-name="Path 54" d="M4.686,98.885l-.011.206a2.6,2.6,0,0,0-.685,1.443v8.146l-.139.085a2.367,2.367,0,0,1-.07-.348.723.723,0,0,1-.156-.318c-.02-1.012-.017-2.029.016-3.041a.475.475,0,0,1,.047-.165,1,1,0,0,1,.093-.163c0-1.074.013-2.15-.011-3.224-.475-.355-.768-.97-1.311-1.229A3.51,3.51,0,0,1,3.573,98.05a.469.469,0,0,1,.474-.118c.136.062.871.805.639.953" transform="translate(-2.289 -91.081)" fill="#fff"/>
            <path id="Path_55" data-name="Path 55" d="M114.321,4.165c.233.312.577.588.8.9.081.112.139.141.031.28l-.05.152a10.452,10.452,0,0,0-2.263,1.55l-.191-.032-.153-.035a2.712,2.712,0,0,0-.789-.851l.037-.158a16.162,16.162,0,0,1,2.574-1.809" transform="translate(-103.922 -3.875)" fill="#fff"/>
            <path id="Path_56" data-name="Path 56" d="M82.283,31.158a6.847,6.847,0,0,1-2.3,1.67l-.154-.025a2.328,2.328,0,0,0-.767-.862l.017-.157c.762-.563,1.528-1.115,2.3-1.67.3.3.82.617.9,1.044" transform="translate(-73.553 -28.015)" fill="#fff"/>
            <path id="Path_57" data-name="Path 57" d="M286.44,249.685a5.647,5.647,0,0,1,1.055.929c.08.08.181.049.128.254a3.033,3.033,0,0,1-1.67,2.018,3.035,3.035,0,0,0-1.044-1.044l.088-.172a1.948,1.948,0,0,0,1.215-1.605l.158-.1a1.329,1.329,0,0,0,.07-.278" transform="translate(-265.048 -232.279)" fill="#fff"/>
            <path id="Path_58" data-name="Path 58" d="M21.561,76.385l-.032.2q-.923.641-1.794,1.349l-.192-.015a3.4,3.4,0,0,0-.762-.867c-.086-.033-.245.055-.351.032a16.955,16.955,0,0,1,2.157-1.67c.416-.252,1.243.6.974.974" transform="translate(-17.145 -70.111)" fill="#fff"/>
            <path id="Path_59" data-name="Path 59" d="M52.361,55.111a4.872,4.872,0,0,1-2.018,1.461,1.313,1.313,0,0,0-.974-.974c.691-.517,1.393-1.018,2.087-1.531a2.375,2.375,0,0,1,.9,1.044" transform="translate(-45.927 -50.298)" fill="#fff"/>
            <path id="Path_60" data-name="Path 60" d="M3.728,180.8c.005,1.195-.075,2.511,0,3.687-.521-.236-.8-.872-1.322-1.113-.013-1.228.009-2.459,0-3.687.12-.136,1.081,1.131,1.322,1.113" transform="translate(-2.234 -167.155)" fill="#fff"/>
            <path id="Path_61" data-name="Path 61" d="M88.825,138.62c.273-.068.943.63,1.039.872l-.065.172c-2.277,1.131-2.994.2-4.87-.835q-1.19-1.309-2.47-2.593c-.116-.141-.163-.265.035-.329.063.035.183.047.28.1,1.355.753,3.163,2.017,4.521,2.578a1.944,1.944,0,0,0,1.531.035" transform="translate(-76.617 -126.433)" fill="#fff"/>
            <path id="Path_62" data-name="Path 62" d="M42.7,118.392c-.027.159.053.212.136.316.639.792,1.64,1.548,2.267,2.325.065.081.191.211.032.282-1.721-.945-3.46-1.889-5.172-2.864a.731.731,0,0,1,.336-1.371,13.442,13.442,0,0,1,2.4,1.312" transform="translate(-36.828 -108.918)" fill="#fff"/>
            <path id="Path_63" data-name="Path 63" d="M178.81,144.6c.314-.165,1.04.674,1.071.907l-.1.136c-1.2.683-2.464,1.48-3.687,2.087a4.184,4.184,0,0,0-.974-1.044.57.57,0,0,1,.157-.153c1.156-.558,2.4-1.3,3.53-1.934" transform="translate(-162.915 -134.504)" fill="#fff"/>
            <path id="Path_64" data-name="Path 64" d="M228.994,120.529a2.225,2.225,0,0,0-.974-1.044c.982-.55,2.141-1.392,3.152-1.822a.711.711,0,0,1,.815,1.163,25.181,25.181,0,0,1-2.994,1.7" transform="translate(-212.125 -109.385)" fill="#fff"/>
          </g>
        </svg>`}
        >
          CONTACT
        </HeaderLink>
      </div>
      <!-- Nav links section end -->

      <span class="hidden text-lg font-thin text-white text-opacity-50 lg:block"> &#124; </span>

      <!-- Social links section begin -->
      <div class="hidden items-center gap-5 lg:flex">
        <img class="h-8 w-8 hover:cursor-pointer" src={instagramLogo.src} alt="instagram" />
        <img class="h-8 w-8 hover:cursor-pointer" src={facebookLogo.src} alt="facebook" />
        <img class="h-8 w-8 hover:cursor-pointer" src={twitterLogo.src} alt="twitter" />
        <img class="h-8 w-8 hover:cursor-pointer" src={pinterestLogo.src} alt="pinterest" />
        <img class="h-8 w-8 hover:cursor-pointer" src={dribbbleLogo.src} alt="dribbble" />
      </div>
      <!-- Social links section end -->
    </div>
  </nav>
</header>
